{% extends "polls/base.html" %}
{%block base%}
{% if question_list %}
    <ul>
    {% for i in question_list %}
<!--        <li><a href="/polls/{{ i.id }}/">{{ i.question_text }}-{{i.pub_date | date:"Y-m-d H:i:s"}}</a></li>-->
        <li ><a   id="{{i.id}}" href="{% url 'detail' i.id %}">{{ i.question_text }}-{{i.pub_date | date:"Y-m-d H:i:s"}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}


<!--    <ul>-->

<!--        <li><a href="/polls/5/">明天天气怎么样</a></li>-->

<!--        <li><a href="/polls/1/">what&#x27;s new?</a></li>-->

<!--        <li><a href="/polls/3/">明天聚餐吃什么？</a></li>-->

<!--    </ul>-->
